.product-conatiner{
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:5rem;
    margin-left:auto;
    margin-right: auto;
}
.container{
    box-sizing: border-box;
    padding: 5px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 20px rgb(78, 76, 76);
}

.product-image{
    width: 200px;
    display: block;
}
.discription{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.30s;
}
.discription:hover{
    opacity: 1;
}
